@import "@unocss/reset/tailwind.css";
@unocss all;

body {
  font-family: var(--font-inter);
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  @apply bg-base-0 dark:bg-base-5;
}

body::-webkit-scrollbar-track {
  @apply bg-base-4 dark:bg-base-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: fit-content;
  font-family: var(--font-inter);
}

.prose {
  @apply text-base-0 dark:text-base-5;
}

.prose code:not(:has(span)) {
  @apply bg-base-5 dark:bg-base-2 px-1 py-0.5 rounded-sm;
  font-family: var(--font-ibm-mono);
}

.prose code::before {
  content: "";
}

.prose code::after {
  content: "";
}

.prose pre code {
  @apply font-bold text-base;
  font-family: var(--font-ibm-mono);
}

.prose hr {
  @apply border-base-4;
}

.prose ul {
  @apply mb-0 mt-0 !important;
}

.prose img {
  @apply my-8 w-full rounded-md;
}

.prose video {
  @apply my-8 rounded-sm shadow-md dark:shadow-gray-900;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-extrabold;
}

.prose a {
  @apply underline-offset-[5px] font-bold decoration-solid;
}

.prose a:hover {
  @apply text-[#3B82F6] decoration-[#3B82F6];
}

.prose :where(blockquote):not(:where(.not-prose, .not-prose *)) {
  @apply border-l-[0.25em] border-solid border-base-0 dark:border-base-5;
}

button {
  @apply outline-none;
}

.shadow-smooth {
  box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 40px -23px rgba(0, 0, 0, 1);
}

.bg {
  @apply bg-[#EFFFFD] dark:bg-black;
}
